
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Helper function to check if the user is the owner of the document
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Rules for user-specific subcollections
    match /users/{userId}/{collection}/{docId} {
      // Allow read and write only if the user is authenticated and is the owner of the user document
      allow read, write: if isAuthenticated() && isOwner(userId);
    }
  }
}
